#image {
    /* background-color: rgb(9, 88, 42)*/


    background-image: url("./assets/Waterfall\ Backdrop\ Warm.jpg");

    /* Replace "your-image.jpg" with the path to your image */
    background-size: cover;
    /* Adjust as needed */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*opacity: .5;*/
    /* This makes the background image fixed as you scroll */
}


header {
    /*display: flex;*/
    flex-direction: row;
    align-items: flex-end;
    /*justify-content: flex-end;*/

}

.right-box {
    display: flex;
    justify-content: flex-end;

}

.right-box a {
    padding-right: 10px;
    display: inline-block;
    align-items: flex-start;
    color: #080707;
    font-size: 27px;
    text-decoration: none;
}


.left-box {
    padding-left: 20px;
    padding-top: 15px;
    /*display: flex;
    justify-content: flex-start;*/
}

h1 {
    font-size: 80px;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

h5 {
    font-size: 20px;
    color: #161211;
}

nav {
    text-decoration: none;
    color: whitesmoke;

    margin-right: 10px;
    justify-content: flex-end;
}


#webmessage {

    margin-top: 100px;
}


h3 {
    text-align: center;
    color: whitesmoke;
    font-size: 40px;
}

.text-overlay {
    color: whitesmoke;
    font-size: 30px;
    align-content: center;
}

p {
    color: #161211;
    text-align: left;
    padding-left: 20px;
    text-indent: 1em;
}

.bottom-links {
    display: flexbox;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    margin-right: 10px;
    justify-content: center;
    align-content: flex-end;
    margin-top: 265px;
}

.footerlinks {
    display: inline-flex;
    justify-content: center;
}

.footerlinks a {
    font-size: 20px;
    color: #394048;
    text-decoration: none;
    display: flex;
    margin: 0px 5px 0px 5px;
}