#image {
    /* background-color: rgb(9, 88, 42)*/


    background-image: url("assets/Sand\ Dune\ Pic.JPG");

    /* Replace "your-image.jpg" with the path to your image */
    background-size: cover;
    /* Adjust as needed */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*opacity: .5;*/
    /* This makes the background image fixed as you scroll */
}


header {
    /*display: flex;*/
    flex-direction: row;
    align-items: flex-end;
    /*justify-content: flex-end;*/

}


.right-box {
    display: flex;
    justify-content: flex-end;

}

.right-box a {
    padding-right: 10px;
    display: inline-block;
    align-items: flex-start;
    color: whitesmoke;
    font-size: 27px;
    text-decoration: none;
}


.left-box {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 0px;
    /*display: flex;
    justify-content: flex-start;*/
}

h1 {
    font-size: 80px;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0px 0px 0px;
}

h5 {
    font-size: 20px;
    color: rgb(56, 56, 194);
    padding-left: 38px;
}

nav {
    text-decoration: none;
    color: whitesmoke;

    margin-right: 10px;
    justify-content: flex-end;


    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
 
}


#webmessage {

    margin-top: 100px;
    display: flex;
    justify-content: center;
}


h3 {
    text-align: center;
    color: whitesmoke;
    font-size: 40px;
}

.text-overlay ul{
    color: whitesmoke;
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

p {
    color: #0D0000;
    text-align: center;
    border-width: 100px;
    /*text-align:justify*/
    text-indent: 1em;
    background-color: whitesmoke;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 400px;
    
    
}
  

.bottom-links {
    display: flexbox;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    margin-right: 10px;
    justify-content: center;
    align-content: flex-end;
    margin-top: 265px;
}

.footerlinks {
    display: inline-flex;
    justify-content: center;
}

.footerlinks a {
    font-size: 20px;
    color: #394048;
    text-decoration: none;
    display: flex;
    margin: 0px 5px 0px 5px;
}

