header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

}

.left-box {
    display: flex;
    justify-content: flex-start
}

.center-box {
    display: flex;
    justify-content: center
}

.right-box {
    display: flex;
    justify-content: flex-end;
}

a {
    padding-right: 10px;
    display: inline-block;
    align-items: flex-end;
    color: whitesmoke;
}

#searchbar {
    /*display: flex;*/
    text-decoration: none;
    color: whitesmoke;
    font-size: 75px;
    /*justify-content: flex-start;*/
}

nav {
    text-decoration: none;
    color: whitesmoke;
    font-size: 50px;
    margin-right: 10px;
    justify-content: flex-end;
}


h5 {
    color: whitesmoke;
    font-size: 30px;
}

h2 {
    color: whitesmoke;
    font-size: 40px;
}


/* CSS for the background waterfall image */
#sanddunepic {

    /* Replace 'your-image.jpg' with your image file path */
    /*background-size: cover;*/
    /*background-position: center;*/
    height: 100%;
    width: 100%;
    /* Adjust the height to fit your image */
    /*position: relative;*/
    z-index: -1;
}

.bottom-links {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    margin-right: 10px;
    justify-content: center;
    align-content: flex-end;
}

.text-overlay {
    color: whitesmoke;
    font-size: 30px;
    align-content: center;
}